<nav>
  <div class="navbar-container">
    <img src="assets/logo.png" routerLink="/" class="logo" />

    <mat-nav-list>
      @for (link of links; track link.name) {
        <a mat-list-item [routerLink]="link.href" routerLinkActive="active">
          {{ link.name }}
        </a>
      }
    </mat-nav-list>

    <div class="user-container" (click)="toggleDropdown()">
      <i class="bi bi-person-circle"></i>
      <div class="dropdown" *ngIf="showDropdown">
        <ng-container *ngIf="!isAuthenticated; else loggedInMenu">
          <button mat-button (click)="login()">Se connecter</button>
          <button mat-button (click)="register()">Créer un compte</button>
        </ng-container>

        <ng-template #loggedInMenu>
          <button mat-button (click)="goToDashboard()">Mon compte</button>
          <button mat-button (click)="logout()">Déconnexion</button>
        </ng-template>

      </div>
    </div>
  </div>
</nav>


