.templates-container {
  text-align: center;
  padding: 2rem;

  h1 {
    font-size: 2rem;
    font-family: "BBH Sans Hegarty", sans-serif;
    margin-bottom: 2rem;
    color: #6c0210;
  }
}

.templates-grid {
  margin-top: 100px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.template-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px; 
  height: 310px;
  margin-left: 20px;
  margin-right: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }

  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  h2 {
    font-size: 1.3rem;
    margin: 1rem 0;
    color: #222;
  }
}