.btn-principal {
  background-color: #dcd0a0;
  color: #57020d;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-principal:hover {
  background-color: #f1c2c9;
}
