<section class="banner">
  <div class="banner-overlay">
    <h1>Montre qui tu es!</h1>
    <p>Crée le portfolio qui te ressemble et révèle tes talents</p>
  </div>
</section>

<section class="content-section">
  <div class="content-container">
    <div class="image-side">
      <img src="assets/portfolio_ex1.png" alt="Portfolio exemple 1" />
    </div>
    <div class="text-side">
      <h2>Un portfolio fidèle à vous-même</h2>
      <p>
        Avec notre outil, vous êtes libre de créer un portfolio unique, fidèle à vos passions et vos projets.
        Montrez aux recruteurs qui vous êtes vraiment, ce qui vous anime et ce que vous savez faire.
      </p>
      <p>
        Pas de limites, juste votre créativité : couleurs, style, contenu… chaque détail est à vous.
      </p>
    </div>
  </div>
</section>

<section id="etapes" class="steps-section">
  <h2>Créez votre portfolio en 3 étapes</h2>
  <div class="steps-container">
    <div class="step">
      <div class="step-number">1</div>
      <h3>Choisis ton style</h3>
      <p>Personnalise les couleurs, les polices et le design pour que ton site te ressemble.</p>
    </div>
    <div class="step">
      <div class="step-number">2</div>
      <h3>Ajoute tes projets</h3>
      <p>Présente tes réalisations, expériences et passions de manière claire et attractive.</p>
    </div>
    <div class="step">
      <div class="step-number">3</div>
      <h3>Partage et fais-toi remarquer</h3>
      <p>Publie ton portfolio et montre au monde ce qui fait de toi un talent unique.</p>
    </div>
    <div class="center-container">
      <button class="create-portfolio" (click)="createPortfolio()">Créer mon portfolio</button>
    </div>
  </div>
</section>



<section class="content-section reverse">
  <div class="content-container">
    <div class="text-side">
      <h2>Bien plus qu'un CV</h2>
      <p>
        C’est votre histoire, racontée à travers vos projets, vos réussites, vos passions et vos expériences.
        Ajoutez des photos, vos réalisations professionnelles et personnelles, et créez un espace qui vous ressemble vraiment.
      </p>
      <p>
        Soyez fidèle à vous-même, laissez parler votre créativité, et montrez au monde ce qui vous rend unique.
      </p>
    </div>
    <div class="image-side">
      <img src="assets/portfolio_ex2.png" alt="Portfolio exemple 2" />
    </div>
  </div>
</section>

